.scrollup {
  position: fixed;
  right: 2.5rem;
  bottom: -20%;
  background-color: #3a3a3a;
  opacity: 0.8;
  padding: 1.5rem 1.2rem;
  border-radius: 5px;
  z-index: 100;
  transition: 0.2s;
}

.scrollup-icon {
  font-size: 1.5rem;
  color: #efebeb;
}

.scrollup:hover {
  background-color: #dcc31d;
}

.show-scroll {
  bottom: 5rem;
}
